.login-modal{
    width:450px;
    /* height: 507px; */
    margin: auto;
    /* color: white; */
    /* width: fit-content; */
    margin-top: 12rem;
    background-color: white;
    border-radius: 5px;
    border: rgb(211, 209, 209) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header{
    /* color: black; */
    align-self: center;
    margin:0 1rem 1rem 1rem;
    color:#FF0058;
    font-size: xxx-large;
}

.login-h4{
    align-self: center;
    margin: 0 auto 1rem auto;
    color:#FF0058;
}

.login-modal input{
    width: 403px;
    height: 50px;
    background: #EDF2F7;
    border: none;
    margin: 0.5rem 0;
    padding-left:40px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    
}

.login-modal label{
    width: 403px;
    margin-top: -1rem;
}
.login-modal .login-label img{
   position: relative;
   right: -10px;
   top: 45px;
   padding: 0;
   margin: 0;

}


.login-modal .login-btn{
    width: 403px;
    height:50px;
    margin: 0.5rem 0 1rem 0;
    background-color: #FF0058;
    border:none;
    cursor: pointer;
    color:white;
    font-size: 20px;
    font-weight: 500;
}

.login-modal .login-btn:hover {
    filter:grayscale(0.20)
}


.login-modal .login-btn:active {
    position:relative;
	top:1px;
}


.close-svg{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    width: 100%;
}

.close-svg img {
    width:30px;
    height:auto;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.close-svg button{
    width: fit-content;
    padding: 0;
    border:none;
    background-color: white;
}

.close-svg button:hover{
    cursor: pointer;
}